# Mengabaikan File Rahasia Lokal & Template (Biar ukuran Image Kecil)
.env
.env.example
.env.production

# Virtual Environment Lokal (Windows/Mac)
.venv/
venv/
env/

# Cache, Compiled Python, & Logs
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.pyc
.pytest_cache/
logs/
*.log

# IDE & Workspaces
workspace/
my-tuws/
.vscode/
.idea/

# Flask Instance (contains secret keys, local DB dll)
instance/

# Unit Tests Frame
tests/

# Khusus Docker Server: Mencegah sampah Git dan Konfigurasi masuk OS Image Server
.git/
.gitignore
.dockerignore

# Operating System Files
.DS_Store
Thumbs.db
