# Mengabaikan File Rahasia Lokal
.env

# Virtual Environment Lokal (Windows/Mac)
.venv/
venv/
env/

# Cache, Compiled Python, & Logs
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.pyc
.pytest_cache/
logs/
*.log

# IDE & Workspaces
workspace/
my-tuws/
.vscode/
.idea/

# Flask Instance (contains secret keys, local DB dll)
instance/

# Unit Tests Frame (Optional jika tidak di-push)
tests/

# Operating System Files
.DS_Store
Thumbs.db
