__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
pip-wheel-metadata/
share/python-wheels/

venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

pip-log.txt
pip-delete-this-directory.txt

.tox/
*.cover
*.coverage
.coverage.*
.cache
.pytest_cache/

logs/
*.log

.env
.env.*

instance/
instance/*
!instance/.gitkeep

*.sqlite3
*.db
*.db-journal

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.pyc

.ipynb_checkpoints

*~
*.swp
instance/
.secret_key